# ignore all output files
*.o

# ignore changes to txt output
solution?.txt
bulkRHS_FE?.txt
FEgrad?.txt
totalFE?.txt
output_OP?.txt
output_OP?c.txt
initial_guess_OP?.txt
initial_guess_OP?c.txt

# ignore gl_fdm changes
gl_fdm