# ignore all output files
*.o

# ignore changes to txt output
initGuess?.txt
solution?.txt
bulkRHS_FE?.txt
FEgrad?.txt

# ignore gl_fdm changes
gl_fdm

# ignore any temporary debugging codes
debugging.py
debugging_files/