# ignore all output files
*.o

# ignore changes to txt output
initGuess?.txt
solution?.txt
bulkRHS_FE?.txt
FEgrad?.txt
totalFE?.txt
output_OP?.txt
initGuess_output_OP?.txt
initial_guess_OP?.txt

# ignore gl_fdm changes
gl_fdm

# ignore any temporary debugging codes
debugging.py
debugging_files/

test.cpp